@model IEnumerable<Cts.Mvc.ExpenseReport.Domain.Entries>


<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-condensed table-bordered table-hover info">
            <tr>
                <th width="2%"></th>
                <th>#</th>
                <th>Bill?</th>
                <th>Employee</th>
                <th>Date</th>
                <th>#People</th>
                <th>Guests</th>
                <th>Affiliation</th>
                <th>Vendor</th>
                <th>Project</th>
                <th>Reason</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Miles</th>
                <th>Mileage</th>
                <th>Total</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.EntriesID })"><i class="icon-trash" title="Delete"></i></a>
                    </td>
                    <td>
                        <u><a href="@Url.Action("Edit", new { id = item.EntriesID })" >@Html.DisplayFor(modelItem => item.EntriesID) </a></u>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Billable)</td>
                    <td>@Html.DisplayFor(modelItem => item.Employees.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateIncurred)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumPeople) </td>
                    <td>@Html.DisplayFor(modelItem => item.Guests)</td>
                    <td>@Html.DisplayFor(modelItem => item.Affiliation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Vendor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Project.Project)</td>
                    <td>@Html.DisplayFor(modelItem => item.Reason.Reason)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount) </td>
                    <td>@Html.DisplayFor(modelItem => item.Miles)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mileage)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>

                </tr>
            }

        </table>
    </div>
</div>
